// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!

$chcBlack: #333F48;
$chcLightBlue: #71B2C9;
@import "active_admin/mixins";
@import "active_admin/base";
$skinActiveColor: $chcLightBlue;
$skinHeaderBck: $chcBlack;
$panelHeaderBck: #002744;
$skinLogo: $chcBlack image-url("logo.jpg") no-repeat 27px/100px;

@import "active_skin";


// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }
